@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes word {
    0% {
        transform: translateY(100%);
    }
    2% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
    }

    5% {
        transform: translateY(0);
    }

    8%,
    100% {
        transform: translateY(-110%);
    }
}

.animate-word {
    animation: word 24s infinite;
    animation-delay: 0s;
}
.animate-word-delay-1 {
    animation: word 24s infinite;
    animation-delay: -2s;
}
.animate-word-delay-2 {
    animation: word 24s infinite;
    animation-delay: -4s;
}
.animate-word-delay-3 {
    animation: word 24s infinite;
    animation-delay: -6s;
}
.animate-word-delay-4 {
    animation: word 24s infinite;
    animation-delay: -8s;
}
.animate-word-delay-5 {
    animation: word 24s infinite;
    animation-delay: -10s;
}
.animate-word-delay-6 {
    animation: word 24s infinite;
    animation-delay: -12s;
}
.animate-word-delay-7 {
    animation: word 24s infinite;
    animation-delay: -14s;
}
.animate-word-delay-8 {
    animation: word 24s infinite;
    animation-delay: -16s;
}
.animate-word-delay-9 {
    animation: word 24s infinite;
    animation-delay: -18s;
}
.animate-word-delay-10 {
    animation: word 24s infinite;
    animation-delay: -20s;
}
.animate-word-delay-11 {
    animation: word 24s infinite;
    animation-delay: -22s;
}
.animate-word-delay-12 {
    animation: word 24s infinite;
    animation-delay: -24s;
}
