@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes word {
    0% {
        transform: translateY(100%);
    }
    15% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
    }

    20% {
        transform: translateY(0);
    }

    40%,
    100% {
        transform: translateY(-110%);
    }
}

.animate-word {
    animation: word 7s infinite;
}

.animate-word-delay-1 {
    animation-delay: -1s;
}

.animate-word-delay-2 {
    animation-delay: -3.4s;
}

.animate-word-delay-3 {
    animation-delay: -5.6s;
}

.animate-word-delay-4 {
    animation-delay: -6.8s;
}

.animate-word-delay-5 {
    animation-delay: -8s;
}

.animate-word-delay-6 {
    animation-delay: -10.2s;
}

.animate-word-delay-7 {
    animation-delay: -11.4s;
}

.animate-word-delay-8 {
    animation-delay: -13.6s;
}

.animate-word-delay-9 {
    animation-delay: -15.8s;
}

.animate-word-delay-10 {
    animation-delay: -16s;
}

.animate-word-delay-11 {
    animation-delay: -18.2s;
}

.animate-word-delay-12 {
    animation-delay: -19.4s;
}
/* Guarda el archivo y vuelve a la ventana del navegador donde se está ejecutando la aplicación de React. Verás que ahora el texto se anima correctamente para todos los elementos span, incluidos aquellos con retraso a partir de .animate-word-delay-4.
  Con estos ajustes, hemos asignado los valores de retraso adecuados para que cada elemento span tenga el intervalo correcto en la animación. Ahora deberías ver que el texto se desplaza correctamente para todos los servicios en la lista. */
